# Proyecto Dashboard
## Diplomado en Ciencia de Datos, Analitica de Datos, UdeC.
### Ignacio Loyola, Yamira Roa

El proyecto consiste en desarrollar un Dashboard, que integre un conjunto de visualizaciones significativo en el dominio o ámbito de un dataset a elegir. El proyecto será desarrollado en equipos de 3 integrantes. 

Los aspectos a evaluar serán los siguientes:

Objetivo de la visualización (15 puntos): debe estar explícitamente incluido en la visualización. Todos los componentes de la visualización deberán contribuir a dicho objetivo, lo que puede ser reforzado con texto explicativo. El objetivo incluirá una descripción de potenciales usuarios y contexto de uso.
Pertinencia y corrección del Dashboard (40 puntos): el Dashboard y sus componentes, junto con estar correctamente implementados, deberán responder al objetivo específico que se anuncia (ej: a continuación, mostramos la evolución en el tiempo de esta variable => lineplot, o vemos cómo se corresponde esta variable con esta otra => scatter o bubbleplot). Mínimo 5 gráficos, máximo 8 (*)
Uso de color y texto (15 puntos): en cada gráfica o visualización componente, el uso de títulos, etiquetas, textos descriptivos y colores, debe ser concordante con los objetivos descritos.
Organización y coherencia (10 puntos): las visualizaciones deben organizarse significativamente en la pantalla, y ser coherentes o complementarias entre sí. El usuario debe entender cada una de las visualizaciones y su orden de presentación.
Presentación y demostración (20 puntos): el diseño y ejecución del dashboard debe ser presentado. Se evaluarán los aspectos anteriores en una exposición de no más de 15 minutos, más las respuestas y participación en un periodo de consultas y discusión de 10 minutos.

# Requerimientos

In [1]:
import pandas as pd

# Carga de la Data

In [2]:
data = pd.read_csv('Airlines Reviews and Rating.csv')

# Análisis exploratorio

In [5]:
data.head(2)

,Aircraft Type,Users Reviews,Country,Type_of_Travellers,Route,Seat_Types,Seat Comfort,Date Flown,Cabin Staff Service,Ground Service,Food & Beverages,Wifi & Connectivity,Inflight Entertainment,Value For Money,Recommended
0,NaN,✅Trip Verified| Cancelled our flight last-min...,United Kingdom,Couple Leisure,London Heathrow to Tokyo,Economy Class,1.0,Sep-23,1.0,2.0,1.0,NaN,3.0,1,no
1,NaN,"✅Trip Verified| I had a flight from Miami, Flo...",United States,Solo Leisure,Miami to Dublin via London Heathrow,Business Class,1.0,Aug-23,3.0,1.0,2.0,1.0,1.0,1,no

In [8]:
data.dtypes

Aircraft Type              object
Users Reviews              object
Country                    object
Type_of_Travellers         object
Route                      object
Seat_Types                 object
Seat Comfort              float64
Date Flown                 object
Cabin Staff Service       float64
Ground Service            float64
Food & Beverages          float64
Wifi & Connectivity       float64
Inflight Entertainment    float64
Value For Money             int64
Recommended                object
dtype: object

In [15]:
print(data.Country.unique())
print(f'\n Numero de paises: {len(data.Country.unique())}')

['United Kingdom' 'United States' 'France' 'Germany' 'Switzerland'
 'South Africa' 'Canada' 'Kuwait' 'Iceland' 'Australia' 'Denmark' 'Poland'
 'Hong Kong' 'Qatar' 'Spain' 'Greece' 'Italy' 'Senegal'
 'United Arab Emirates' 'Romania' 'Cyprus' 'Chile' 'Sweden' 'Ireland'
 'Netherlands' 'Austria' 'India' 'Belgium' 'New Zealand' 'Czech Republic'
 'Malaysia' 'Singapore' 'Ghana' 'Bermuda' 'Botswana' 'Brazil' 'Panama'
 'Nigeria' 'Russian Federation' 'Philippines' 'Bulgaria' 'Thailand'
 'Argentina' 'Mexico' 'Saint Kitts and Nevis' 'Vietnam' 'Norway' 'Jordan'
 'Japan' 'Taiwan' 'China' 'Slovakia' 'Israel' 'South Korea' 'Saudi Arabia'
 'Hungary' 'Portugal' 'Cayman Islands' 'Costa Rica' 'Egypt' 'Laos'
 'Turkey' 'Indonesia' 'Bahrain' 'Dominican Republic' 'Luxembourg'
 'Finland' 'Ukraine' nan]

 Numero de paises: 69

In [16]:
data.Seat_Types.unique()

array(['Economy Class', 'Business Class', 'Premium Economy',
       'First Class', nan], dtype=object)

In [17]:
data.describe()

,Seat Comfort,Cabin Staff Service,Ground Service,Food & Beverages,Wifi & Connectivity,Inflight Entertainment,Value For Money
count,3176.000000,3165.000000,2812.000000,2911.000000,592.000000,2171.000000,3290.000000
mean,2.833123,3.228752,2.795519,2.678461,1.923986,2.654537,2.636474
std,1.360588,1.486388,1.455301,1.435562,1.355305,1.386722,1.459832
min,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
25%,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,3.000000,3.000000,3.000000,3.000000,1.000000,3.000000,3.000000
75%,4.000000,5.000000,4.000000,4.000000,3.000000,4.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000